.experience {
    height: 100vh;
    display: grid;
    align-items: center;
}

.experience-item p {
    font-style: italic;
    color: #777;
}

.experience-item ul {
    margin: 0;
    padding-left: 20px;
    list-style-type: disc;
}

.experience-item li {
    margin-bottom: 10px;
}