.container {
  display: flex;
  margin: 0 !important;
  padding: 0 !important;
  max-width: 100% !important;
  background-color: #212529 !important;
  color: rgb(179, 239, 181);
}

.main-content {
  margin-left: 260px;
}


.section {
  padding: 20px;
  margin-bottom: 20px;
}


.about-me,
.experience,
.projects,
.contact {
  height: auto;
}

.section h2 {
  margin-top: 0;
  text-align: center;
  font-size: 5em !important;
}

.section a {
  color: blue;
  text-decoration: none;
}

@media (max-width: 480px) {
  .project-box {
    height: auto;
  }
}

@media (max-width: 768px) {
  .projects-grid {
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  }
}

@media (max-width: 480px) {
  .projects-grid {
    grid-template-columns: 1fr;
  }
}